.white	{background-color: #ffffff;}
.red	{background-color: #ff0000;}
.yellow	{background-color: #ffff00;}
.green	{background-color: #00ff00;}
.cyan	{background-color: #00ffff;}
.blue	{background-color: #0000ff;}
.purple	{background-color: #ff00ff;}
.black	{background-color: #000000;}