@import "colors.css";

html, body
{
	/*height: 100%;*/
	width: 320px;
	height: 480px;
	
	margin: 0px;
	padding: 0px;
	
	background-color: #55cc55;
	
	overflow: hidden;
}

#menu_container
{
	height: 100%;
	background-color: #55cc55;
	
	font-size: 25px;
	text-align: center;
}

#playButton
{
	margin-top: 10px;
}

.display
{
	font-size: 25px;
}

.displayImage
{
	width: 32px;
	height: 32px;
	
	vertical-align: middle;
}

#colorDecrement, #colorCountLabel, #colorIncrement
{
	font-size: 25px;
}

#colorCountImage
{
	height: 32px;
	
	margin: 5px auto 5px auto;
	
	background-image: url("../images/colorCountImage.png");
}

#header
{
	height: 70px;
	
	padding: 5px 0px 10px 0px;
	text-align: center;
	
	background-color: #55cc55;
}

#field_container
{
	height: 320px;
}

#field
{
	border-collapse: collapse;
}

.fieldCell
{
	width:30px;
	height:30px;
}

.circle
{
	background-image: url("../images/sphere.png");
	
	background-size: 100%;
}

#footer
{
	height: 80px;
	
	background-color: #5555cc;
	
	font-size: 25px;
}

#undoButton
{
	float: right;
	
	margin: 5px;
	
	font-size: 25px;
}

.buttonImage
{
	cursor: pointer;
}

#leaderboard_container
{
	height: 300px;
	
	padding:15px;
	padding-top: 5px;
	
	background-color: #cc5555;
}

#title
{
	margin: 0px;
	
	font-size: 20px;
	font-weight: 800;
	
	text-align: center;
}

#leaderboard
{
	margin: auto;
	
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	
	font-size: 17px;
	
	border-collapse: collapse;
}

#leaderboard td
{
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
}

#leaderboard td.name
{
	font-weight: 800;
}

#colorCountSelector_container
{
	height: 100px;
	
	font-size: 35px;
	
	background-color: #5555cc;
}

#colorCountPrev, #colorCountNext
{
	width: 25px;
}

.colorCountSelector
{
	width: 40px;
	height: 40px;
	
	cursor: pointer;
}

#colorCountSelector_1 {background-image: url("../images/numbers/1.png");}
#colorCountSelector_2 {background-image: url("../images/numbers/2.png");}
#colorCountSelector_3 {background-image: url("../images/numbers/3.png");}
#colorCountSelector_4 {background-image: url("../images/numbers/4.png");}
#colorCountSelector_5 {background-image: url("../images/numbers/5.png");}
#colorCountSelector_6 {background-image: url("../images/numbers/6.png");}

#colorCountPrev, .colorCountSelector, #colorCountNext
{
	float: left;
}