@import "colors.css";

html, body
{
	height: 100%;
	
	margin: 0px;
	padding: 0px;
	
	overflow: hidden;
}

#menu_container
{
	height: 100%;
	background-color: #55cc55;
}

#header
{
	height: 100px;
	
	background-color: #cc5555;
}

#field_container
{
	height: 320px;
}

#field
{
	border-collapse: collapse;
}

td
{
	width:30px;
	height:30px;
	
	background: url("../images/bubble_outer.png");
	
	background-size: 100%;
}

#footer
{
	height: 64px;
	background-color: #5555cc;
	
	font-size: 25px;
}

#undoButton
{
	float:right;
	
	font-size: 25px;
}